body {
    height: 100vh;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
  }

.header-section {
    background-color: #1f2937;
    color: white;
    font-weight: bold;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.header-links {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: small;
    font-weight: 100;
}
a {
    color: #E5E7EB;
}

.intro-section {
    background-color: #1e2937;
    color: white;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    width: 330px;
    margin: 30px;
}
.intro-img {
    width: 350px; 
    height: auto;
    border-radius: 10px;
}
.title {
    font-size: 28px;
    font-weight: 1000;
    margin-bottom: -10px;
    margin-top: -10px;
}
.subtitle {
    color: #E5E7EB;
    font-size: 12px;
    font-weight: 200;
}

.info-section {
    background-color: white;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.info-header {
    color: #1f2937;
    font-size: 24px;
    font-weight: 900;
}
.icons-box {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.icon-and-subtext {
    width: 150px;
    text-align: center;
}
.icon {
    width: 120px;
    height: auto;
    border-radius: 10px;
}
.icon-subtext {
    font-size: 10px;
    font-weight: 100;
    color: #1f2937;
    margin: 10px;
}

.quote-section {
    background-color: #E5E7EB;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.signup-section {
    background-color: white;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-section {
    background-color: #1f2937;
    color: white;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    height: 30px;
    width: 90px;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}


