body {
    height: 100vh;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 10;
    padding: 10;
  }

.header-section {
    background-color: #1f2937;
    color: white;
    font-weight: bold;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.intro-section {
    background-color: #1e2937;
    color: white;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-section {
    background-color: white;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.quote-section {
    background-color: #E5E7EB;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.signup-section {
    background-color: white;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-section {
    background-color: #1f2937;
    color: white;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    height: 30px;
    width: 90px;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

a {
    color: #E5E7EB;
}

img {
    width: 350px; 
    height: auto;
    border-radius: 10px;
  }

.icon {
    width: 100px;
    height: auto;
    border-radius: 10px;
}

h2 {
    font-size: 28px;
    font-weight: 1000;
    margin-bottom: -10px;
    margin-top: -10px;
}

h4 {
    color: #E5E7EB;
    font-size: 12px;
    font-weight: 200;
}

h3 {
    color: #1f2937;
}

.header-links {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: small;
    font-weight: 100;
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    width: 330px;
    margin: 30px;
}

